body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #810B0B;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-circle {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    box-shadow: 0 0 0 3px #810B0B;
}

.logo-icon {
    font-size: 28px;
    color:#810B0B;
}

.header h1 {
    font-size: 24px;
    margin: 0;
}

.nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
    padding: 5px;
}

.main-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

.appointment-form {
    width: 100%;
    max-width: 450px;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 25px;
    text-align: center;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #810B0B;
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
    background-color: transparent;
    outline: none;
}

.form-group input:focus {
    border-bottom: 2px solid #c00404;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #810B0B;
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
    background-color: transparent;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 20px;
}

.form-group select {
    text-align-last: center;
    direction: ltr;
}

.form-group select:focus {
    border-bottom: 2px solid #c00404;
}


.submit-button {
    display: block;
    width: 100%;
    max-width: 250px;
    margin: 40px auto 0;
    padding: 15px 30px;
    background-color: #810B0B;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.submit-button:hover {
    background-color: #600808;
}

.footer {
    background-color: #810B0B;
    color: white;
    padding: 15px 20px;
    text-align: center;
}

.footer-links-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
}

.footer-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
    text-transform: capitalize;
}

@media (max-width: 768px) {

    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 20px;
    }
    .nav {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
    }
    .nav-link {
        margin-left: 0;
        margin-right: 0;
    }
    .appointment-form {
        width: 100%;
        max-width: 350px;
        background-color: white;
        padding: 30px;
        border-radius: 5px;
    }
}